{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    {% if errores %}
    HAY ERRORES EN EL FORM: {{ errores }}
    {% endif %}
    {% if status %}
    {{ status }}
    {% endif %}
</div>
<style type="text/css">
    .parent {
        display: flex;
        align-items: center; /*align-items alinea el cross axis*/
        justify-content: space-around; /*justify-content alinea el main axis*/

    }

    .parent > div {
        background-color: lightblue;
        padding: 4px;
        border-radius: 5px;
        width: 10%;
    }


</style>

<div style="text-align: center;">
    INGRESO
    <div class="parent">
        <div>{{ object.fecha }}</div>
        <div>{{ object.monto }}</div>
        <div>{{ object.categoria }}</div>
        <div>{{ object.usuario }}</div>
    </div>
</div>


{% endblock %}
