{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    {% if errores %}
    HAY ERRORES EN EL FORM: {{ errores }}
    {% endif %}
    {% if status %}
    {{ status }}
    {% endif %}
</div>

<div style="text-align: center;">
    <span>LISTADO DE INGRESOS</span>
    <table class="tabla-ingresos" style="margin: 0 auto;">
        <th>fecha</th>
        <th>monto</th>
        <th>categoria</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>mail</th>
        {% for ingreso in object_list %}
        <tr>

            <td><a href="{% url 'ingresos:detalle-ingreso' ingreso.id %}">{{ ingreso.fecha }}</a></td>
            <td><a href="{% url 'ingresos:detalle-ingreso' ingreso.id %}">{{ ingreso.monto }}</a></td>
            <td><a href="{% url 'ingresos:detalle-ingreso' ingreso.id %}">{{ ingreso.categoria }}</a></td>

            <td>{{ ingreso.usuario.nombre }}</td>
            <td>{{ ingreso.usuario.apellido }}</td>
            <td>{{ ingreso.usuario.email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
